body{
    width:100%;
    font-size:16px;
    font-family: 'Noto Sans JP', sans-serif;
    margin:0px;
    padding:0px;
}
img{
    width:100%;
    margin: 0;
    padding: 0;
}
img:hover{
    opacity: 0.6;
}


li,ul{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}
h2{
    font-size:42px;
    text-align:center;
}
h3{
   font-size:24px;
}
.wrap{
    overflow: hidden;
}


/* ヘッダー要素 */

.header{
    height:700px;
    width:100%;
    padding-top: 0px;
    background-size: cover;
    background-repeat: repeat-x;
}
.header-left{
    float:left;
    margin-left: 20px;
    margin-top: 20px;

 }
 .header-left h1{
    padding-left:10px;
    color:#fff;
 }
 .header-right{
     text-align: right;

 }

 .header-right nav ul li{
     display:inline-block;
     padding:  30px 20px 45px 34px;
     font-size:18px;
 }


.header-right nav ul li a{
      color:#fff;
}

.header-right nav ul li a:hover{
    color:#FF0000;
}


.header-middle h1{
    text-align:center;
    margin-top: 200px;
    color:#fff;
    font-size:42px;
    transition:all .3s ease 0s;
}
.header-middle h1:hover{
    transform:scale(1.2);

}

.header-SP{
    display: none;
}
.gnav{
    display:none;
}


  /* ========================================================
  ページトップに戻るボタン
  =========================================================*/
  .scroll-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    line-height: 50px;
    text-align: center;
  }
  .scroll-top:hover {
    cursor: pointer;
    opacity: 0.7;
  }




/* about part */
.about{
    width:100%;
    text-align:center;
    margin-bottom: 50px;
}
.about-title h2{
    margin-top: 100px;
    font-size:38px;
    transition:all .3s ease 0s;
}
.about-title h2:hover{
    transform: rotate(25deg);
}
.about-title p{
    margin:40px;
    font-size:30px;
    width:auto;
}

.about-title p img{
   width:70%;
}
.about-capital-city{
    margin-top: 140px;

}
.about-capital-city iframe{
    margin:0 auto;
}



/* sightseeing part */
.sightseeing{
   background-color:#FFEFD5;
   height:1250px;
   width:100%;
}


.sightseeing-title{
     padding-top:50px;
}

.sightseeing-title h2{
    margin-top: 100px;
}
.card-items{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}


.card-item{
   background-color: #fff;
   width: calc(33.333% - 100px / 3);
   height:450px;
   margin:auto;
   margin-top: 50px;
}

.card-item p img{
    margin: 0 0px;

}
.card-item  img{
    width:100%;
    height:300px;
    vertical-align: bottom;
}
.card-item  h3{
    font-size: 20px;
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .card-item  p{
    font-size: 16px;
    margin-left: 20px;
  }




/* food part */
.food{
    margin-top: 300px;
}

.malasia-food-part{
    background-image: url(../img/nasigoren.jpg);
    background-size: cover;
    height:700px;
    width: 100%;
    height: 700px;
    color:#fff;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: skewY(30deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
}

.card img{
    height:300px;
    width:auto;
}
.card-body{
    height:120px;
}



.malasia-food-list{
    margin-top: 300px;
}


/* other-entertainment-part */
.other-entertainment{
    margin-top: 100px;
}

.clearfix  img{
    width:50%;
}


.malaysia-entertainment{
    display: flex;
    margin-top: 50px;
    margin:0 auto;
    justify-content: center;
    max-width: 1200px;
}
.malaysia-entertainment p{
    margin-right: 20px;
}


.malaysia-entertainment img{
margin-left: 30px;
transition: 1.5s ;
}
.malaysia-entertainment img:hover{
	transform: rotateY(360deg);
}

.malasia-entertainment-part{
    margin-bottom: 40px;
}

.malaysia-entertainment>p{
    width: 30%;
}
.comment-area{
   margin-left: 50px;
   width:30%;
}
.comment-area h3{
    margin-bottom: 15px;
}
.comment-area h3:hover{
    color:red;
}
.comment-area p:hover{
    font-weight: bold;
}


/* footer-part */

#footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 50px;
}
.copyright{
    color: #FFFFFF;
}
.footer-nav-list{
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer-nav-list nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav-list nav ul li a{
    color: #FFFFFF;
}

.footer-nav-list nav ul li a{
      padding:10px;
}
.footer-SNS-list{
    text-align:center;
    color:#fff;
    margin-bottom: 20px;
}
.footer-SNS-list li{
    display: inline;
    padding:20px;
}



.footer-copyright{
    text-align: center;
}



@media screen and (max-width:767px){

/* header-part */
.header{
    height:300px;
}

.header-right{
    display: none;
}

.header-left {
    margin-top: 0px;
    display: none;
    text-align:center;
}
.header-middle h1{
    text-align:center;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    font-size:24px;
}
.wrap{
    overflow: hidden;
}

.header-SP{
    text-align:center;
    padding-left:10px;
    color:#fff;
    display:block;
}


/* ドロワーメニュー */
/*menu*/
.menu{
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    z-index: 99;
}
.menu__line{
    background: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}

.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    margin: 40px 0;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}


.hero{
    background:url(images/hero.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}



/* about */
.about-title{
   margin-bottom: 10px;
}
.about-title p{
    font-size:16px;
    width:auto;
    margin-bottom: 10px;
}

.about-capital-city iframe{
    width:100%;
}


.sightseeing{
    background-color:#FFEFD5;
    height:auto;
    width:100%;
 }


 .sightseeing-title{
      padding-top:30px;
 }

 .sightseeing-title h2{
     margin-top: 10px;
 }
 .card-items{
    display: block;
    width:100%;
}
.card-item{
    background-color: #fff;
    width:100%;
    height:450px;
    margin:0p;
    border:1px solid black;
    margin-top: 50px;
 }

 .card-item p img{
     margin: 0 0px;
 }
 .card-item  img{
     width:100%;
     vertical-align: bottom;
 }
 .card-item  h3{
     font-size: 20px;
     margin-top: 26px;
     margin-left: 20px;
     margin-bottom: 20px;
   }
   .card-item  p{
     font-size: 16px;
     margin-left: 20px;
   }


/* food part */
.food{
    margin-top: 50px;
}
.malasia-food-list{
    margin-top: 50px;
}



/* other*/
.other{
    width:100%;
}

.malaysia-entertainment{
    display: block;
    margin:auto;
}
.malaysia-entertainment img{
margin-left: 0px;

width:100%;
transition: 1.5s ;
}
.malaysia-entertainment img:hover{
	transform: rotateY(360deg);
}
.malaysia-entertainment p img{
    width:100%;
}

.malaysia-entertainment>p{
    width: 100%;
    margin-left: 0px;
}
.comment-area{
    width:300px;
    margin-left: 0px;
    margin-right: 0;
}





.footer-nav-list{
    display: none
}

.footer-SNS-list{
    padding-top: 30px;

}












}